n8n-workflow.json
{
  "name": "Radar Diário de IA",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 22,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Agendamento Diário (22h Dallas)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Execução Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [220, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://worker:8000/run-sync",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"max_age_days\": 3,\n  \"cleanup_audio\": true,\n  \"send_email\": true\n}",
        "options": {
          "timeout": 1800000
        }
      },
      "id": "http-request",
      "name": "Executar Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success",
      "name": "Pipeline OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-success",
              "name": "log",
              "value": "={{ 'Radar concluído: ' + $json.result.videos_processed + ' vídeos, ' + $json.result.total_opportunities + ' oportunidades' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-success",
      "name": "Log Sucesso",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [920, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-error",
              "name": "log",
              "value": "={{ 'Radar com erro: ' + $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-error",
      "name": "Log Erro",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [920, 500]
    }
  ],
  "connections": {
    "Agendamento Diário (22h Dallas)": {
      "main": [
        [
          {
            "node": "Executar Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execução Manual": {
      "main": [
        [
          {
            "node": "Executar Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar Pipeline": {
      "main": [
        [
          {
            "node": "Pipeline OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline OK?": {
      "main": [
        [
          {
            "node": "Log Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago"
  },
  "tags": [
    {
      "name": "radar-ia"
    }
  ]
}
